:root {
  --primary: #075e54;
  --primary-light: #128c7e;
  --secondary: #6fd056;
  --secondary-light: #dcf8c6;
  --primary-bg: #ece5dd;
  --secondary-bg: #fff;
  --border-color: #dcdcdc;
  --black: #333;
  --gray: #aaa;
  --white: #fff;
  --blue: #34b7f1;
  --link-text: #4169e1;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
